body{
	
	padding-top: 50px;
	font-family: arial;
    background: linear-gradient(135deg, #a8edcd 0%, #fed6e3 100%);
}
ul{
	padding: 0;
}
#container{
	border-radius: 5%;
	background: whitesmoke;
	width: 1000px;;
	height: 800px;
    margin-top: 80px ;
	margin-left: 225px;
	padding: 20px;
	overflow: hidden;

}
#con{
	overflow: auto;
	top: 60px;
	height: 1000px;
	width: 100%;
}

#p_img{
	margin-top: 20px;
	text-align: center;
}
img {
	text-align: center;
    margin-bottom: 20px;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	object-fit: cover;
	border: 3px solid black;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#details{
	border: 1px solid black;
	
	margin: 20px;
	padding: 20px;
}